  button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .sidebar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 72px;
    height: 100%;
    background: #6d10db;
    transition: width 0.4s;
    position: fixed;
    z-index: 1000;
  }
  
  body.open .sidebar {
    width: 260px;
  }
  
  .sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-burger {
    width: 72px;
    height: 72px;
    display: grid;
    place-items: center;

  }
  

  
  .sidebar-logo {
    height: 120px;
  }
  
  .sidebar-icono {
    height: 50px;
  }
  
  .sidebar-menu {
    display: grid;
  }
  
  .sidebar-menu > button {
    display: flex;
    gap: 25px;
    align-items: center;
    height: 60px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 25px;
  }
  
  .sidebar-menu > button.has-border {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 1rem;
  }
  
  .sidebar-menu > button > img {
    width: 50px;
    height: 50px;
    margin: 7% 0 0 -6%;
  }
  
  .sidebar-menu > button > span {
    margin-top: 7%;
    color: #f9f9f9;
    font-size: 150%;
  }
